/*Contains CSS for the Basic Portfolio */

body {
    background-color: lightgrey;
}
h1{
    background-color: navy;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-family: 'Open Sans', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
.mainContent{
    background-color: white;
    display: inline-block;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 300px;
    width: 60%;
    float: left;
}
.connectMe{
    background-color: white;
    float: left;
    display: inline-block;
    width: 200px;
}
#navBar {
    float: left;
    margin: 20px;
}
.linkIcon {
    width: 42px;
    height: 42px;
    margin: 10px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(1, 75, 104);
    color: white;
    text-align: center;
}